.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 576px) {
  .table td,
  .table th {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .btn-group-sm .btn {
    padding: 0.25rem 0.5rem;
  }

  .btn-group .btn i {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .table td,
  .table th {
    padding: 0.4rem;
    font-size: 0.8125rem;
  }

  .btn-group-sm .btn {
    padding: 0.2rem 0.4rem;
  }

  .btn i {
    font-size: 0.875rem;
  }

  h2.h4 {
    font-size: 1.25rem;
  }
}
