.inspections {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspections-wrapper {
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 25px;
}

.inspections-wrapper-search {
  display: flex;
  align-items: center;
  gap: 24px;
}

.inspections-wrapper-search__input {
  width: 100%;
  margin-bottom: 0;
}
